@page "/fibonacci"
@rendermode InteractiveServer

<h3>Fibonacci</h3>

<input @bind="n" type="number" min="0" />
<button @onclick="Calculate">Вычислить</button>

@if (result.HasValue)
{
    <p>F(@n) = @result</p>
}


@code {
    private int n = 0;
    private long? result;

    private void Calculate()
    {
        if (n <1) 
        {
            result = null;
            return;
        }
        result = ComputeFibonacci(n-1);
    }

    private long ComputeFibonacci(int n)
    {
        if (n < 1) return n;
        long a = 0, b = 1;
        for(int i=2; i<= n; i++)
        {
            long temp = a + b;
            a = b;
            b = temp;

        }
        return b;
    }
}
